@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  inline-size: 95%;
  margin: auto;
}

.sour-gummy {
  font-family: "Sour Gummy", sans-serif;
}